/* CSS Reset 🎈🎈🎈 */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	/* 10/16px = 0.625 in percentage */
}

body {
	font-family: 'Raleway';
	font-weight: 600;
	line-height: 1.7;
	color: black;
}
